.filterBar {
  .categoriesContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    margin-top: .6rem;

    .categoryContainer {
      position: relative;

      .category {
        max-height: 10rem;
        overflow-y: auto;

        margin-top: .4rem;
        padding-bottom: 1.5rem;

        .filter {
          display: flex;
          gap: 1rem;
          align-items: center;

          height: 1.6rem;

          flex-wrap: nowrap;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          min-width: 0;

          .checkbox {
            flex-shrink: 0;
          }
        }
      }
    }

    .overflowEffect {
      position: absolute;

      bottom: 0;

      height: 1.5rem;
      width: 100%;

      background-color: rgb(250, 248, 248);
      backdrop-filter: blur(8px);
      opacity: .8;
    }
  }
}
