.itemsGrid {
  display: grid;
  grid-auto-columns: max-content; //added
  grid-auto-flow: dense; // added
  grid-auto-rows: 3fr;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  .link {
    height: 100%;
  }
}