.searchInput {
  border-radius: 16px;
  background-color: white;

  border: 2px solid #D2D2D2;

  &.small {
    padding: .2rem;
  }

  &.medium {
    padding: 0.4rem;
  }

  &.large {
    padding: 0.7rem;
  }

  &::placeholder {
    opacity: .5;
  }
}